
@{
    ViewData["Title"] = "Bụi Tea - Quản trị";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- dashboard-->

    <div class="col col-sm-6 col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="left">
                    <div class="number-value">1024</div>
                    <div class="text-value">New orders</div>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                </div>
            </div>
            <div class="see-more">
                <div class="text">More info</div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-lg-3">
        <div class="card bg-success">
            <div class="card-body">
                <div class="left">
                    <div class="number-value">1024</div>
                    <div class="text-value">User account</div>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        person_add
                    </span>
                </div>
            </div>
            <div class="see-more">
                <div class="text">More info</div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-lg-3">
        <div class="card bg-warning">
            <div class="card-body">
                <div class="left">
                    <div class="number-value">1024</div>
                    <div class="text-value">Products</div>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        pie_chart
                    </span>
                </div>
            </div>
            <div class="see-more">
                <div class="text">More info</div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="left">
                    <div class="number-value">1024</div>
                    <div class="text-value">Visiter</div>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        bar_chart
                    </span>
                </div>
            </div>
            <div class="see-more">
                <div class="text">More info</div>
                <span class="material-symbols-outlined">
                    arrow_right_alt
                </span>
            </div>
        </div>
    </div>